*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'SMF_fontTEXT';
    src: url('fonts/SMF_fontTEXT-Light.woff2') format('woff2'),
        url('fonts/SMF_fontTEXT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SMF_fontTEXT';
    src: url('fonts/SMF_fontTEXT-Bold.woff2') format('woff2'),
        url('fonts/SMF_fontTEXT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SMF_fontTEXT';
    src: url('fonts/SMF_fontTEXT-Heavy.woff2') format('woff2'),
        url('fonts/SMF_fontTEXT-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SMF_fontTEXT';
    src: url('fonts/SMF_fontTEXT-Regular.woff2') format('woff2'),
        url('fonts/SMF_fontTEXT-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


:root {
    --violet: #785EFF;
    --orange: #FF5C00;
    --lilac: #C2B9FF;
    --yellow: #EAF700;
    --dark-purple: #231942;
    --dark-blue: #4700B5;
    --green: #00C299;
    --red: #CE132E;
}


p,
h2,
h1,
ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.btn-reset {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    color: inherit;
}

.list-reset {
    list-style: none;
}

body {
    margin: 0;
    position: relative;
    height: 100vh;
    font-family: 'SMF_fontTEXT';
}

.question-body main,
.question-body section,
.question-body .container {
    height: 100%;
}

.header {
    padding-top: 14px;
}

.footer {
    padding-bottom: 14px;
}

.authorization-body,
.registration-body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: url(img/souzmult.webp) var(--violet);
    background-size: cover;
}

.start-body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(183.26deg, #785EFF -14.11%, #FFC6A3 61.78%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.start-body picture img {
    height: 100%;
    width: 100%;
}

.start-body .header {
    margin-bottom: auto;
}

.start-body .header__container {
    margin-bottom: 31px;
}

.start-body .section {
    margin-bottom: 31px;
}

.bottom-block {
    position: relative;
    background-color: var(--violet);
}


.rules-body {
    background: url(img/souzmult2.webp) var(--orange);
    background-size: cover;
}

.rules-body main,
.rules-body .section,
.rules-body .container {
    height: 100%;
}

.question-body {
    background: url(img/souzmult2.webp) var(--lilac);
    background-size: cover;
}

.success-body {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: url(img/clouds.webp) no-repeat top var(--green);
    background-size: contain;
}

.success-window {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: url(img/clouds_success.png) no-repeat top, linear-gradient(#FFC7A3 33%, #FF0000 121%, #FFFFFF 161%);
    background-size: contain;
}

.start-body main {
    margin-top: auto;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1920px;
}

.title {
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;

}

.title-violet {
    color: var(--violet);
}

.subtitle {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}


.header__container,
.footer__container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.header__container {
    gap: 20px;
}

.footer__container {
    gap: 12px;
}

.authorization-body main,
.registration-body main {
    margin: auto 0;
}

.authorization .title,
.registration .title {
    margin-bottom: 28px;
}

.start-body .title {
    margin-bottom: 8px;
}

.languages .title {
    margin-bottom: 38px;
}


.form__input {
    padding: 17px 14px;
    width: 100%;
    border: 2px solid #4700B547;
    border-radius: 18px;
    background-color: rgba(248, 245, 255, 1);
}

.form__input_incorrect {
    border: 2px solid var(--red) !important;
    color: var(--red) !important;
}

.form__input::placeholder {
    font-family: 'SMF_fontTEXT';
    font-size: 14px;
    font-weight: 300;
    color: rgba(71, 0, 181, 0.5);
}

.form__button {
    padding: 12px;
    font-size: 18px;
    font-weight: 900;
    border-radius: 18px;
}

.button {
    padding: 12px;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: 900;
    border-radius: 18px;
    background: #EDEBFF;
    color: var(--dark-purple);
}

.authorization__button,
.registration__button,
.question__button {
    background-color: var(--yellow);
    color: var(--dark-purple);
}

.success_button {
    margin-bottom: 4px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}


.section__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 511px;
}

.authorization__form,
.registration__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 auto;
    max-width: 511px;
}

.languages__block {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 28px;
}

.language {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.language .language__input {
    display: none;
}

.language__name {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

.language__img {
    position: relative;
}

.language__img img {
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

.language__input:checked~.language__img img {
    border: 3px solid var(--yellow);
    border-radius: 50%;
}

.language__input:checked~.language__name {
    font-weight: 900;
    color: var(--yellow);
    border-bottom: 2px solid var(--yellow);
}

.text {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}


.rules__form {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 0 auto;
    max-height: 100%;
    max-width: 688px;
    border-radius: 20px;
    background-color: #FFF3EB;
}


.rules__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 12px;
    margin-bottom: 40px;
    overflow-y: auto;
    font-size: 14px;
    border-radius: 20px;
    background-color: #fff;
}

.rules__block {
    scrollbar-color: var(--dark-blue) transparent;
    scrollbar-width: thin;
  
  }

.rules__block::-webkit-scrollbar {
    width: 4px;
}

.rules__block::-webkit-scrollbar-track {
    background: transparent;
}

.rules__block::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 20px;
    border: 4px solid transparent;
}

.rules__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    font-weight: 300;
    line-height: 17px;
}

.rules__policy {
    color: var(--violet);
    text-decoration: underline;
}

.rules__label {
    display: flex;
    align-items: center;
    gap: 22px;
}

.rules__label input {
    display: none;
}

.rules__checkbox {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid var(--violet);
}

.rules__label input:checked~.rules__checkbox {
    background: url(img/check.svg) no-repeat center, var(--violet);
}

.rules__label span:last-child {
    font-size: 10px;
    max-width: max-content;
}

.rules .form__button {
    color: #fff;
    background-color: var(--dark-blue);
}

.rules .form__button:disabled {
    color: #CAC6D9;
    background-color: #968EB3;
    cursor: auto;
}

.section {
    padding: 14px 0;
}

.question__block {
    padding-right: 14px;
    overflow-y: auto;
}

.question__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    max-height: 100%;
    max-width: 688px;
    border-radius: 20px;
    background-color: #EEEBFF;
}

.question__content {
    scrollbar-color: var(--dark-blue) transparent;
    scrollbar-width: thin;
  
  }

.question__content::-webkit-scrollbar {
    width: 4px;
}

.question__content::-webkit-scrollbar-track {
    background: transparent;
}

.question__content::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 20px;
    border: 4px solid transparent;
}

.question__num {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #785EFF66;
    text-align: right;
}

.question .title {
    margin-bottom: 20px;
}

.question__content {
    padding-right: 15px;
    overflow-y: auto;
}

.question__block {
    margin-bottom: 26px;
}


.question__text {

    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    max-height: 102px;

}

.question__text--more {
    max-height: 100%;
    overflow: visible;
    -webkit-line-clamp: inherit;
}

.question__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 10px;
}

.question .form__button {
    color: #fff;
    background-color: var(--dark-blue);
}

.question__media {
    margin-bottom: 26px;
    text-align: center;
}

.question__media img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.success {
    padding-bottom: 48px;
}

.success__img {
    margin-bottom: 38px;
}

.question .form__label {
    position: relative;
    display: block;
}

.question .form__input {
    padding: 14px 17px;
    border-color: var(--violet);
}

.question .form__label::before {
    content: '';
    position: absolute;
    right: 0;
    top: -40px;
    width: 51px;
    height: 47px;
    background-image: url(img/bird.svg);

}

.f-carousel__slide {
    text-align: center;
}

.iti {
    width: 100%;
}

.error-block {
    position: relative;
    display: none;
    margin-top: 2px;
    padding: 8px 20px;
    max-width: max-content;
    font-size: 12px;
    color: #CE132E;
    background-color: #F8F5FF;
    border-radius: 0px 12px 12px 12px;

}

.error-block.active::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -8px;
    left: 0;
    width: 12px;
    height: 8px;
    background-image: url(img/error-block.svg);
    background-repeat: no-repeat;
}

.error-block.active {
    display: block;
}

.registration__label {
    position: relative;
}

.clear-btn {
    display: none;
    position: absolute;
    top: 50%;
    right: 14px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
}

.clear-btn--incorrect path {
    fill: var(--red);
}

.clear-btn.active {
    display: block;
}

.fancybox__slide {
    padding: 0;
}

/* .fancybox__footer {
    display: none;
} */

.f-button.is-next,
.f-button.is-prev,
.f-button[title="Toggle zoom level"],
.f-button[title="Toggle slideshow"],
.f-button[title="Toggle full-screen mode"],
.f-button[title="Toggle thumbnails"],
.f-thumbs__slide__button img,
.fancybox__toolbar__column.is-left {
    display: none;
}

.fancybox__slide.has-image>.fancybox__content {
    width: 100%;
    height: auto;
}

.f-carousel__slide img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}


.fancybox__container {
    --fancybox-bg: transparent;
    background: url(img/souzmult2.webp) var(--lilac);

}


.fancybox__backdrop {
    backdrop-filter: blur(5px);
}

.f-thumbs__slide__button::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(71, 0, 181, 0.2);
}

.f-thumbs__slide.for-image.is-nav-selected .f-thumbs__slide__button::before {
    background-color: var(--dark-blue);
}

.is-compact .fancybox__footer {
    background-color: transparent;
}

.is-modern .f-thumbs__slide__button {
    max-width: max-content;
    height: max-content;
}

.is-modern .f-thumbs__slide__button {
    --clip-path: 0;
}

.is-modern .f-thumbs__slide {
    transform: none;
}

.f-thumbs.is-horizontal .f-thumbs__track {
    transform: none !important;
}

.f-thumbs__viewport {
    display: flex;
    justify-content: center;
}

.fancybox__toolbar,
.f-button {
    --f-button-bg: transparent;
}

.f-button svg path {
    stroke: var(--dark-blue);
}

.fancybox__toolbar.is-absolute,
.is-compact .fancybox__toolbar {
    position: initial;
}

.f-button:hover:not([disabled]),
.f-button:active:not([disabled]) {
    background-color: transparent;
}

.modal {
    position: fixed;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.modal__window {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    left: 50%;
    height: 100%;
    max-width: 688px;
    border-radius: 20px;
    background-color: #F8F5FF;
    transform: translateX(-50%);
}

.modal__close {
    align-self: end;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    background-image: url(img/close.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.modal__body {
    display: flex;
    flex-direction: column;
}

.modal__body .title {
    margin-bottom: 20px;
}

.modal__body .text {
    margin-bottom: 20px;
    text-align: left;
    color: #231942;
}

.modal__body img {
    width: 100%;
}

.f-carousel__dots .f-carousel__dot {
    width: 10px;
    height: 10px;
    background-color: rgba(71, 0, 181, 0.2);

}

.f-carousel__dots li {
    opacity: 1;
}

.f-carousel__dots li.is-current .f-carousel__dot {
    background-color: rgba(71, 0, 181, 1);
}

.license {
    font-size: 10px;
    font-weight: 900;
    line-height: 12px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;

}

.video-block {
    margin: 0 auto;
    margin-bottom: 26px;
    border-radius: 20px;
    overflow: hidden;
    width: 280px;
    height: 200px;
}

.read-more {
    display: none;
    padding-top: 8px;
    font-size: 14px;
    font-weight: 900;
    line-height: 17px;
    color: #2E1D67;
}

.read-more.active {
    display: block;
}

.error {
    padding-top: 3px;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--red);
}


@media (min-width: 320px) {
    .f-button svg {
        padding: 8px;
        width: 40px;
        height: 40px;
    }

    .f-button {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 768px) {
    .fancybox__slide {
        padding-top: 28px;
    }

    .f-button {
        width: 60px;
        height: 60px;
    }

    .f-button svg {
        padding: 14px;
        width: 60px;
        height: 60px;
    }

    .fancybox__content {
        width: 100% !important;
    }

    .fancybox-image {
        object-fit: cover;
    }

    .success-body {
        background: url(img/clouds-tablet.webp) no-repeat top var(--green);
        background-size: contain;
    }

    .success-window {
        background: url(img/clouds-success-tablet.webp) no-repeat top, linear-gradient(#FFC7A3 33%, #FF0000 121%, #FFFFFF 161%);
        background-size: contain;
    }

    .authorization-body,
    .registration-body {
        background: url(img/souzmult-tablet.webp) var(--violet);
        background-size: cover;
    }

    .question-body {
        background: url(img/souzmult2-tablet.webp) var(--lilac);
        background-size: cover;
    }

    .rules-body {
        background: url(img/souzmult2-tablet.webp) var(--orange);
        background-size: cover;
    }

    .success_button {
        margin-bottom: 10px;
    }

    .video-block {
        width: 100%;
        height: auto;
    }

    .video-block iframe {
        width: 100%;
        height: auto;
        min-height: 434px;
    }
}


@media (min-width: 1400px) {

    .authorization-body,
    .registration-body {
        background: url(img/souzmult-desktop.webp) var(--violet);
        background-size: cover;
    }

    .question-body {
        background: url(img/souzmult2-desktop.webp) var(--lilac);
        background-size: cover;
    }

    .rules-body {
        background: url(img/souzmult2-desktop.webp) var(--orange);
        background-size: cover;
    }

    .success-body {
        background: url(img/clouds-desktop.webp) no-repeat top var(--green);
        background-size: auto;
    }

    .success-window {
        background: url(img/clouds-success-desktop.webp) no-repeat top, linear-gradient(#FFC7A3 33%, #FF0000 121%, #FFFFFF 161%);
        background-size: auto;
    }

    .section__container {
        max-width: 870px;
    }

    .modal__window {
        max-width: 870px;
    }
}